html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "", sans-serif;
}

body {
	background-color: #fcfcfc;
	/*background-image: url("../img/symphony.png");*/
	color: #333;
}

.pure-g {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	/*border: 1px solid red;*/
}

.header {
	background-image: url("../img/symphony.png");
}

.navbar {
	position: absolute;
	top: 93px;
	left: 0;
	bottom: 0;
	padding: 30px 10px 0 10px;
}

.main {
	position: absolute;
	top: 93px;
	left: 12.5%;
	bottom: 0;
}

.sidemenu {
	position: absolute;
	top: 93px;
	right: 0;
	bottom: 0;
}

.site-logo {
	max-height: 2em;
	margin-left: 1em;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 3px;
	font-weight: bold;
	/*border-bottom: 1px inset #333;*/
	/*padding: 25px;*/
}

h3 {
	text-transform: capitalize;
	font-size: 1.2em;
	font-style: italic;
}

.sidemenu {
	padding: 25px;
	/*box-shadow: 0 -10px 10px #cdcdcd;*/
	/*border-left: 3px solid #ddd;*/
	background-image: url("../img/symphony.png");
}

.main {
	background-color: #fcfcfc;
	text-align: center;
	padding: 50px;
	font-size: 1.2em;
}

.main input[type="text"] {
	border: none;
	border-bottom: 2px solid #ddd;
	/*border-bottom: 2px solid #eba900;*/
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
	width: 100%;
	background-color: #fcfcfc;
}

.main input[name="title"] {
	text-align: center;
	font-size: 2em;
}

.main textarea {
	border: none;
	border-bottom: 2px solid #ddd;
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
	width: 100%;
	background-color: #fcfcfc;
	height: 100%;
}

span {
	margin-top: -8px;
	color: #aaa;
	text-transform: lowercase;
	font-size: .9em;
}

.navbar {
	text-align: center;
	/*background-image: url("../img/symphony.png");*/
	/*box-shadow: 0 -10px 10px #cdcdcd;*/
}

nav a img, nav input[type="image"] {
	max-width: 50px;
}

nav ul {
	list-style: none;
	padding-left: 0;
}

nav input[type="image"] {
	background-image: url("../img/gold-check.gif");
}

footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	/*border: 1px solid lightgreen;*/
}

footer ul {
	list-style: none;
	padding-left: 0;
}

footer ul li {
	display: inline-block;
}

footer ul li img {
	max-width: 35px;
	opacity: 0.35;
}

footer ul li img:hover {
	max-width: 35px;
	opacity: 1;
}

.bg {
	/*border: 1px solid pink;*/
	background-color: #fcfcfc;
	margin: 10px 0;
	padding: 10px;
}

.rhymes {
	height: 100px;
	overflow: scroll;
}

.editor {
	padding: 10px;
	height: 100%;
	overflow: scroll;
}

.float-left { float: left; }
.float-right { float: right; }
.float-clear { clear: both; }