html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "", sans-serif;
}

body {
	background-color: #fcfcfc;
	color: #333;
}

.site-logo {
	max-width: 2em;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 3px;
	border-bottom: 1px inset #333;
	padding: 25px;
}

h3 {
	/*text-transform: uppercase;*/
	font-size: 1.5em;
}

.sidemenu {
	padding: 25px;
	box-shadow: 0 -10px 10px #cdcdcd;
	/*border-left: 3px solid #ddd;*/
	background-image: url("../img/symphony.png");
}

.main {
	text-align: center;
	padding: 50px;
	font-size: 1.2em;
}

.main input[type="text"] {
	border: none;
	border-bottom: 2px solid #ddd;
	/*border-bottom: 2px solid #eba900;*/
	padding: 10px;
	margin: 10px;
	width: 100%;
	background-color: #fcfcfc;
}

.main input[name="title"] {
	text-align: center;
	font-size: 2em;
}

span {
	margin-top: -8px;
	color: #aaa;
	text-transform: lowercase;
	font-size: .9em;
}

.navbar {
	text-align: center;
	background-image: url("../img/symphony.png");
	box-shadow: 0 -10px 10px #cdcdcd;
}

nav a img, nav input[type="image"] {
	max-width: 50px;
}

nav ul {
	list-style: none;
	padding-left: 0;
}

nav input[type="image"] {
	background-image: url("../img/gold-check.gif");
}

footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	/*border: 1px solid lightgreen;*/
}

footer ul {
	list-style: none;
	padding-left: 0;
}

footer ul li {
	display: inline-block;
}

footer ul li img {
	max-width: 35px;
	opacity: 0.35;
}

footer ul li img:hover {
	max-width: 35px;
	opacity: 1;
}

.float-left { float: left; }
.float-right { float: right; }
.float-clear { clear: both; }