body {
  font-weight: 400;
  font-size: 21px;
  font-family: "Baskerville", serif;
  line-height: 1.618;
  color: #222;
  background-color: #fdfdfd;
}

.site-wrapper {
  padding: 0 1.38em;
  max-width: 900px;
  margin: 70px auto 200px auto;
  font-size: 21px;
}

@media only screen and (max-width: 768px) {
  .site-wrapper {
    font-size: 18px;
    padding: 0 7.5%;
    line-height: 1.35em;
  }
}

@media only screen and (max-width: 480px) {
  .site-wrapper {
    font-size: 18px;
    padding: 0 0.5em 0 1em;
  }
  .float-left, .float-right {
    display: block;
    margin: 0 auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.site-title {
  color: #ccc;
  text-align: center;
  text-transform: lowercase;
  font-style: italic;
  letter-spacing: -3px;
}

h2 {
  text-align: center;
}

ul, nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  text-transform: lowercase;
  margin-right: 30px;
}

a, a:visited {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

a:hover {
  border-bottom: 3px solid #ccc;
  color: #333;
}

footer {
  color: #aaa;
  font-size: 18px;
}

hr {
  height: 1px;
  border: 0;
  background-color: #ccc;
}

.float-left { float: left; }
.float-right { float: right; }
.float-clear { clear: both; }

.form {
  display: inline-block;
  background-color: #eee;
  padding: 1em 0.5em 0.75em 0.5em;
  margin-right: 1em;
  margin-bottom: 2em;
  width: 100px;
  text-align: center;
  height: 40px;
}

.form a {
  border-bottom: none;
}

.form a:hover {
  border-bottom: ;
}

.last {
  margin-right: 0;
}